.zones-container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 90vh;
}

.zones-container .map-overlay {
    background-color: black;
}

.zones-container img.map {
    opacity: 0.85;
}

.zone-img-container, .museum-img-container {
    position: absolute;
    width: 128px;
    height: 64px;
    transition: transform .5s;
    border-radius: 0.35rem;
    border: 1px solid #573015;
    overflow: hidden;
    z-index: 5;
}

.zone-img-container:hover, .museum-img-container:hover {
    transform: scale(2);
    z-index: 10;
    cursor: pointer;
}

.zone-img-container img, .museum-img-container img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.35rem;
    object-fit: cover;
}

.zone-img-container.entrance {
    left: 3%;
    bottom: 25%;
}

.zone-img-container.aquarium {
    left: 12%;
    bottom: 40%;
}

.zone-img-container.reptile-garden {
    left: 23%;
    bottom: 25%;
}

.zone-img-container.nocturnal {
    left: 38%;
    bottom: 25%;
}

.zone-img-container.lemur-kingdom {
    left: 30%;
    bottom: 40%;
}

.zone-img-container.savannah {
    top: 32%;
    left: 32%;
}

.zone-img-container.tiger-land {
    top: 20%;
    left: 15%;
}

.zone-img-container.monkey-island {
    top: 20%;
    left: 47%;
}

.zone-img-container.safari-farm {
    top: 15%;
    right: 5%;
}

.museum-img-container.sangkar-raksasa {
    right: 15%;
    bottom: 30%;
}

.museum-img-container.insectarium {
    right: 52%;
    bottom: 35%;
}

.museum-img-container.mayapada {
    top: 30%;
    right: 45%;
}

.museum-img-container.polar-bear {
    top: 12%;
    right: 50%;
}
