/* Global */

body {
    background-color: #FFF;
    color: #573015;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

p, li {
    font-family: 'Montserrat', sans-serif;
}

/* Header and Footer */

#header {
    background-color: #FA9917CC;
}

#footer {
    background-color: #573015;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

/* Section Themes */

.light-section {
    background-color: #FBAD45BF;
    color: inherit;
}

.dark-section {
    background-color: #573015BF;
    color: #FBAD45;
}

/* Small Components */

.logo {
    width: 150px;
    height: 20%;
}

.carousel {
    margin: auto 0;
    width: 80vw;
}

.slick-prev::before, .slick-next::before {
    color: #573015 !important;
    font-size: 1.7rem !important;
}

.banner-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.banner {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr.divider {
    margin: 20% auto;
    border-top: 2px solid rgb(204, 204, 204);
    width: 10vw;
}

/* Home Page */

.tour-placeholder {
    position: relative;
    margin: 0;
    max-width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    text-align: center;
    color: #FFF;
}

.tour-placeholder img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    object-fit: cover;
}

.start-tour-button {
    margin-top: 50px;
    transition: transform .5s;
    box-shadow: 0 7.5px rgb(192, 144, 0);
    color: #573015;
}

.start-tour-button:hover {
    transform: scale(1.2);
}

.virtual-tour-container {
    position: relative;
    background-color: #4f4f4f;
    margin-top: 0;
    width: 100%;
    height: 85vh;
}

.virtual-tour-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.virtual-tour-container .back-button {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    z-index: 5;
    cursor: grab;
    color: #FBAD45CC;
}

.virtual-tour-container .back-button:hover {
    color: #FBAD45;
    transform: scale(1.5);
}

.must-see {
    position: relative;
    padding: 2% 5% 0;
    width: 100%;
    height: 31.25rem;
}

.must-see .logo {
    position: absolute;
    bottom: 0;
    left: auto;
    right: auto;
}

/* Animals Page  */

.exhibits-container {
    min-height: 90vh;
}

.exhibits {
    margin: 3% 0; 
    height: 30rem; 
    text-align: center;
}

.exhibits h3 {
    margin-top: 1rem;
}

/* Zones Page  */

.zones-container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 90vh;
}

.zone-img-container {
    position: absolute;
    width: 125px;
    height: 100px;
    transition: transform .5s;
    z-index: 5;
}

.zone-img-container:hover {
    transform: scale(1.5);
    z-index: 10;
}

.zone-img-container img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.35rem;
}

.zone-img-container.entrance {
    left: 5%;
    bottom: 17%;
}

.zone-img-container.aquarium {
    left: 8%;
    bottom: 30%;
}

.zone-img-container.reptile-garden {
    left: 23%;
    bottom: 15%;
}

.zone-img-container.nocturnal {
    left: 38%;
    bottom: 15%;
}

.zone-img-container.lemur-kingdom {
    left: 25%;
    bottom: 32%;
}

.zone-img-container.savannah {
    top: 32%;
    left: 32%;
}

.zone-img-container.tiger-land {
    top: 20%;
    left: 15%;
}

.zone-img-container.monkey-island {
    top: 20%;
    left: 47%;
}

.zone-img-container.sangkar-raksasa {
    right: 15%;
    bottom: 25%;
}

.zone-img-container.insectarium {
    right: 52%;
    bottom: 30%;
}

.zone-img-container.mayapada {
    top: 30%;
    right: 45%;
}

.zone-img-container.polar-bear {
    top: 15%;
    right: 50%;
}

/* About Page */

.about-zoo {
    margin: 0;
    padding: 0;
    height: 100%;
}

.about-zoo p {
    margin: 5%;
    text-align: justify;
}

.zoo-vision {
    margin: 5% 0 5% 7%;
    float: left;
    width: 250px;
    height: auto;
}

.zoo-mission {
    margin: 5% 7% 5% 0;
    float: right;
    width: 250px;
    height: auto;
}

.zoo-vision h2, .zoo-mission h2{
    background-color: #FBAD45;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.zoo-vision ul, .zoo-mission ul {
    padding: 0;
    list-style-type: none;
    text-align: justify;
    font-size: 0.7rem;
}

.zoo-vision li, .zoo-mission li {
    margin-top: 10px;
    list-style-type: none;
    text-align: justify;
    font-size: 0.7rem;
}

.about-museum {
    background-color: #573015BF;
    margin: 0;
    padding: 0;
    height: auto;
    color: #FBAD45;
}

.about-museum h1, .about-museum h3 {
    margin: 5%;
}

.about-museum h3 {
    margin-top: 10%;
}

.about-museum p {
    margin: 5%;
    text-align: justify;
}

/* Info Pages */

.info-container {
    margin: 0;
    padding: 2rem;
    width: 100%;
    min-height: 80vh;
}

.info-container img {
    margin-top: 1rem;
    width: 80% !important;
    border: 2px solid #573015;
    border-radius: 1rem;
}

.info-container h3 {
    margin: 1rem 0;
}

.info-container p {
    margin-top: 3rem;
    text-align: justify;
}


@media only screen and (max-width: 600px) {
    body, p, a, li, .btn {
        font-size: 0.85rem;
    }

    h1 {
        font-size: 2rem;
    }
}