/* Global */

body {
    background-color: #FFF;
    color: #573015;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

p, li {
    font-family: 'Montserrat', sans-serif;
}

/* Header and Footer */

#header {
    background-color: #FA9917CC;
}

#footer {
    background-color: #573015;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

/* Section Themes */

.light-section {
    background-color: #FBAD45BF;
    color: inherit;
}

.dark-section {
    background-color: #573015BF;
    color: #FBAD45;
}

/* Small Components */

.logo {
    width: 150px;
    height: 20%;
}

.carousel {
    margin: auto 0;
    width: 80vw;
}

.slick-prev::before, .slick-next::before {
    color: #573015 !important;
    font-size: 1.7rem !important;
}

.banner-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.banner {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr.divider {
    margin: 20% auto;
    border-top: 2px solid rgb(204, 204, 204);
    width: 10vw;
}

/* Home Page */

.tour-placeholder {
    position: relative;
    margin: 0;
    max-width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    text-align: center;
    color: #FFF;
}

.tour-placeholder img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    object-fit: cover;
}

.start-tour-button {
    margin-top: 50px;
    transition: transform .5s;
    box-shadow: 0 7.5px rgb(192, 144, 0);
    color: #573015;
}

.start-tour-button:hover {
    transform: scale(1.2);
}

.virtual-tour-container {
    position: relative;
    background-color: #4f4f4f;
    margin-top: 0;
    width: 100%;
    height: 85vh;
}

.virtual-tour-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.virtual-tour-container .back-button {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    z-index: 5;
    cursor: grab;
    color: #FBAD45CC;
}

.virtual-tour-container .back-button:hover {
    color: #FBAD45;
    transform: scale(1.5);
}

.must-see {
    position: relative;
    padding: 2% 5% 0;
    width: 100%;
    height: 31.25rem;
}

.must-see .logo {
    position: absolute;
    bottom: 0;
    left: auto;
    right: auto;
}

/* Animals Page  */

.exhibits-container {
    min-height: 90vh;
}

.exhibits {
    margin: 3% 0; 
    height: 30rem; 
    text-align: center;
}

.exhibits h3 {
    margin-top: 1rem;
}

/* Zones Page  */

.zones-container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 90vh;
}

.zones-container .map-overlay {
    background-color: black;
}

.zones-container img.map {
    opacity: 0.85;
}

.zone-img-container, .museum-img-container {
    position: absolute;
    width: 128px;
    height: 64px;
    transition: transform .5s;
    border-radius: 0.35rem;
    border: 1px solid #573015;
    overflow: hidden;
    z-index: 5;
}

.zone-img-container:hover, .museum-img-container:hover {
    transform: scale(2);
    z-index: 10;
    cursor: pointer;
}

.zone-img-container img, .museum-img-container img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.35rem;
    object-fit: cover;
}

.zone-img-container.entrance {
    left: 3%;
    bottom: 25%;
}

.zone-img-container.aquarium {
    left: 12%;
    bottom: 40%;
}

.zone-img-container.reptile-garden {
    left: 23%;
    bottom: 25%;
}

.zone-img-container.nocturnal {
    left: 38%;
    bottom: 25%;
}

.zone-img-container.lemur-kingdom {
    left: 30%;
    bottom: 40%;
}

.zone-img-container.savannah {
    top: 32%;
    left: 32%;
}

.zone-img-container.tiger-land {
    top: 20%;
    left: 15%;
}

.zone-img-container.monkey-island {
    top: 20%;
    left: 47%;
}

.zone-img-container.safari-farm {
    top: 15%;
    right: 5%;
}

.museum-img-container.sangkar-raksasa {
    right: 15%;
    bottom: 30%;
}

.museum-img-container.insectarium {
    right: 52%;
    bottom: 35%;
}

.museum-img-container.mayapada {
    top: 30%;
    right: 45%;
}

.museum-img-container.polar-bear {
    top: 12%;
    right: 50%;
}

/* About Page */

.about-zoo {
    margin: 0;
    padding: 0;
    height: 100%;
}

.about-zoo p {
    margin: 5%;
    text-align: justify;
}

.zoo-vision {
    margin: 5% 0 5% 7%;
    float: left;
    width: 250px;
    height: auto;
}

.zoo-mission {
    margin: 5% 7% 5% 0;
    float: right;
    width: 250px;
    height: auto;
}

.zoo-vision h2, .zoo-mission h2{
    background-color: #FBAD45;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.zoo-vision ul, .zoo-mission ul {
    padding: 0;
    list-style-type: none;
    text-align: justify;
    font-size: 0.7rem;
}

.zoo-vision li, .zoo-mission li {
    margin-top: 10px;
    list-style-type: none;
    text-align: justify;
    font-size: 0.7rem;
}

.about-museum {
    background-color: #573015BF;
    margin: 0;
    padding: 0;
    height: auto;
    color: #FBAD45;
}

.about-museum h1, .about-museum h3 {
    margin: 5%;
}

.about-museum h3 {
    margin-top: 10%;
}

.about-museum p {
    margin: 5%;
    text-align: justify;
}

/* Info Pages */

.info-container {
    margin: 0;
    padding: 2rem;
    width: 100%;
    min-height: 80vh;
}

.info-container img {
    margin-top: 1rem;
    width: 80% !important;
    border: 2px solid #573015;
    border-radius: 1rem;
}

.info-container h3 {
    margin: 1rem 0;
}

.info-container p {
    margin-top: 3rem;
    text-align: justify;
}

/* Quiz Page  */

.quiz-container {
    padding: 1rem 0rem;
    min-height: 80vh;
}

.quiz-starter-container {
    position: relative;
    padding: 2rem;
    width: 450px;
    height: 100%;
    background-color: #3399FF;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.quiz-timer {
    padding: 0.5rem;
    width: 100%;
    background-color: #FBAD45;
    color: #573015;
    font-size: 1rem;
    text-align: center;
    border-radius: 1rem;
}

.question-image {
    width: 25%;
    height: 10%;
    object-fit: cover;
}

.question-container {
    margin: 1rem;
    padding: 0.5rem;
    width: 400px;
    height: auto;
    text-align: center;
    background-color: #C8C8C8;
}

.question-container p, .question-container li {
    color: #573015;
    font-size: 0.75rem;
}

.multiple-choice-container {
    position: relative;
    width: 400px;
    height: 200px;
}

.choice-button {
    position: absolute;
    width: 5rem;
    height: 3rem;
    background-color: #FBAD45;
    color: #573015;
    border-radius: 0.5rem;
}

.choice-button.correct {
    background-color: #2AC940;
    color: #FFF;
}

.choice-button.incorrect {
    background-color: #DA0000;
    color: #FFF;
}

.choice-button.A {
    top: 10%;
    left: 10%;
}

.choice-button.B {
    top: 10%;
    right: 10%;
}

.choice-button.C {
    top: 50%;
    left: 10%;
}

.choice-button.D {
    top: 50%;
    right: 10%;
}

/* Photobooth Page  */

.photobooth-container {
    padding: 1rem;
    min-height: 80vh;
}

.pick-photo-box-outer-frame {
    width: 375px;
    height: 200px;
    border: 4px dashed #1B1DDC;
}

.pick-photo-box {
    width: 100%;
    height: 100%;
    background-color: #3399FF;
    border-radius: 1rem;
}

.pick-photo-box .btn {
    width: 200px !important;
    font-size: 0.75rem !important;
    border-radius: 0.5rem !important;
}

.webcam-placeholder {
    position: relative;
    margin: auto;
    width: 450px;
    height: 300px;
    background-color: #C8C8C8;
    border: 4px dashed #1B1DDC;
}

.webcam-placeholder .capture-button {
    position: absolute;
    right: -9%;
    bottom: -12%;
    width: 75px;
    height: 75px;
}

.photobooth-buttons {
    width: 125px;
    height: 36px;
}

.background-picker-container .bg-picker {
    width: 300px !important;
    height: 175px !important;
}

.background-picker-container img {
    object-fit: cover;
    cursor: pointer;
}

.photobooth-result-container {
    position: relative;
    margin: 2rem auto;
    width: 75%;
    height: 500px;
}

.photobooth-result-container .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}

.photobooth-result-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0.25;
    z-index: 15;
}

.photobooth-result-container h3 {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    z-index: 20;
}

.photobooth-result-container .photo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    z-index: 20;
}

.photobooth-result-container button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15%;
    z-index: 15;    
}

/* Responsiveness  */

@media only screen and (max-width: 600px) {
    body, p, a, li, .btn {
        font-size: 0.85rem;
    }

    h1 {
        font-size: 2rem;
    }

    .zone-img-container {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    .museum-img-container {
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }

    .zone-img-container.savannah {
        top: 25%;
    }

    .question-image {
        width: 250px;
        height: 150px;
    }

    .quiz-timer {
        width: 50px;
        border-radius: 100%;
    }

    .webcam-placeholder {
        width: 300px;
        height: 250px;
    }

    .webcam-placeholder .capture-button {
        right: -13%;
        bottom: -15%;
    }

    .photobooth-result-container {
        width: 100%;
        height: 200px;
    }

    .photobooth-result-container h3 {
        font-size: 0.9rem;
    }

    .photobooth-result-container .photo {
        margin-top: -50px;
        margin-left: -50px;
        width: 100px;
        height: 100px;
    }
}